<section class="bg-white">
	<div
		class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
	>
		<div class="font-light text-gray-500 sm:text-lg">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
				Hindsight Creative
			</h2>
			<p class="mb-4">
				We love to collaborate with our clients from start to finish, supporting
				and guiding them through the entire process. Regardless of whether we're
				developing a once off project, supporting your internal marketing
				department or working as your entire outsourced design arm, we
				prioritise building relationships, so we understand your brand as well
				as you do.
			</p>
			<p>
				At Hindsight Creative, we like to collaborate with our clients from the
				beginning of the journey, right through to its completion. We work with
				big companies supporting their marketing departments, or being the
				outsourced marketing and design resources for the smaller ones.
			</p>
		</div>
		<div class="grid grid-cols-2 gap-4 mt-8">
			<img
				class="w-full"
				src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png"
				alt="office content 1"
			/>
			<img
				class="mt-4 w-full lg:mt-10"
				src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
				alt="office content 2"
			/>
		</div>
	</div>
</section>
